
.store-item.active .inner{
    background:  linear-gradient(330deg, rgba(208, 114, 0, 0.097) 0%, rgba(209, 101, 0, 0.585) 100%), linear-gradient(40deg, rgba(255, 247, 0, 0.404) 0%, rgba(160, 0, 0, 0.262) 100%);
}
.store-item {
    color: aliceblue;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 24px;
    
}
.store-item .logo {
    border-radius: 8px;
}

.store-item h2{
    margin: 24px 0 12px 0  ;
}

.store-item .cover-image.annimated {
    position: absolute;
    top: 125px;
    scale: 0.8;
}

.store-item .cover-image {
    position: relative;
    left: 40px;
    min-width: 100%;

    min-height: auto;
    aspect-ratio: 2.4;
    border-radius: 8px;
}

.store-item .back {
    width: 100%;
    height: 100%;
    filter: blur(5px) contrast(0.9);
}

.store-item .inner {
    position: absolute;
    background: linear-gradient(0deg,#000c 0%,#0007 30% ,#0007 100%);
    width: 100%;
    height: 100%;
    padding: 20px;
}
