.bind-product {
    width: 100%;
}


/* FILTER*/

.bind-feature-values{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding: 12px;
}


.bind-feature-values .checkable{
    display: flex;
    align-items: center;
    gap: 2px;
    position: relative;
}
.bind-feature-values  .checkable.ok .check{
    color: var(--discret-9);
    background: var(--discret-6);
}
.bind-feature-values .check svg.mark{
    width: 16px;
    height: 16px;
}
.bind-feature-values .check{
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border-radius: 8px;
    border: 1px solid var(--discret-6);
    cursor: pointer;
}






/* BIND */
.bind {
    width: 100%;
    min-width: 260px;
    height: auto;
    font-size: 1em;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 8px 16px -6px var(--discret-9),0px -2px 16px -6px var(--discret-9);
    margin: 12px 0;
}

.bind .rt{
    display: flex;
    padding-right: 24px;
    justify-content: space-between;
    padding: 4px 12px;
}
.bind .rt b{
    display: inline-block;
    width: 160px;
}

.bind .bind-rows {
    width: 100%;
    /* background: var(--discret-9); */
}

.bind .bind-row {
    display: flex;
    padding: 0px 12px;
    border-bottom: 1px solid var(--discret-9);
}

.bind .bind-row>* {
    padding: 4px;
    flex: 1;
    width: 100%;
}

.bind .bind-row .bind-cell-feature {
    /* width: 100px; */
    /* min-width: 40px; */
    /* border:#3345 solid 1px; */
    display: flex;
    align-items: center;
}

.bind .bind-row .bind-cell-value {
    min-width: 60px;
    max-width: 180px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bind-column {
    width: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    justify-content: space-between;
}

.bind .bind-row .bind-cell-stock div,
.bind .bind-row .bind-cell-price div {
    font-size: 0.8em;
    padding: 2px 6px;
    background: var(--secondary-gradiant);
    display: inline-block;
    border-radius: 8px;
    color: var(--discret-10);
}
.bind .bind-row .bind-cell-stock div{
    background: var(--discret-6);
}

/* .bind .bind-row .bind-cell-price{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} */

.bind .bind-row .bind-cell-price,
.bind .bind-row .bind-cell-stock {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    display: flex;
    gap: 12px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
}

.bind .bind-row .bind-cell-price {
    width: 140px;
    max-width: 140px;
    min-width: 140px;
}

@media (width < 460px) {


    .bind .bind-row .bind-cell-price,
    .bind .bind-row .bind-cell-stock {
        flex-direction: column;
        align-items: flex-end;
        width: 60px;
        max-width: 60px;
        min-width: 60px;
    }

    .bind .bind-row .bind-cell-price {
        width: 80px;
        max-width: 80px;
        min-width: 80px;
    }

    .bind-column {
        gap: 8px;
    }
}



@media (width < 360px) {
    
.bind .bind-row .bind-cell-feature{
    width: 0px !important;
}
    .bind .bind-row {
        padding: 2px 0px;
    }
    .bind .bind-row .bind-column{
        flex-direction: column;
        align-items: flex-end;
    }
    .bind .bind-row .bind-cell-price,
    .bind .bind-row .bind-cell-stock {
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-end;
        width: 60px;
        gap: 2px;
        max-width: 60px;
        min-width: 60px;
    }

    .bind .bind-row .bind-cell-price {
        width: 100px;
        max-width: 100px;
        min-width: 100px;
    }
}
