.price-ctn {
    position: relative;
    max-width: 180px;
    display: flex;
    align-items: center;
}

.price-ctn .currency {
    font-size: 1.1em;
    position: absolute;
    right: 16px;
}
input.price {
    padding-right: 50px;
}


.pricing{
    padding: 24px;
}

.pricing label.editor,.pricing  h3{
    margin-top: 16px;
    margin-bottom: 8px;
}