/* HomeStat.css */
.home-stat-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    width: 100%;
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe23c 100%);
    border-radius: 20px;
}

/* Specific grid placement for larger screens */
@media (width>420px) {
    .home-stat-container {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "account account"
            "visits orders";
    }
    
    .home-stat-container .account-card {
        grid-area: account;
    }
    
    .home-stat-container .visits-card {
        grid-area: visits;
    }
    
    .home-stat-container .orders-card {
        grid-area: orders;
    }
    
}

.home-stat-container .stat-card {
    position: relative;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 100ms ease;
}

.home-stat-container .stat-card:hover {
    transform: scale(0.99);
}

.home-stat-container .stat-card.no:hover{
    transform: none;
}

.home-stat-container .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.home-stat-container .card-header h3 {
    color: #4a5568;
    font-size: 0.9em;
    display: flex;
    align-items: center;
    gap: 5px;
}

.home-stat-container .period-option{
    display: flex;
    align-items: center;
    gap: 12px;
}

.home-stat-container .period{
    font-size: 0.9em;
}

.home-stat-container .card-header .option {
    font-size: 1.4em;
    cursor: pointer;
    color: #718096;
}

.home-stat-container .card-header .option:hover {
    scale: 1.1;
    color: #4a5568;
}

.home-stat-container .card-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.home-stat-container .account-card h1.compte {
    font-size: 1.5em;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #2d3748;
}

.home-stat-container .eye-toggle {
    cursor: pointer;
    color: #718096;
}

.home-stat-container .eye-toggle:hover {
    color: #4a5568;
}

.home-stat-container .stats-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 15px;
}

.home-stat-container .visits-card h2 {
    font-size: 1.2em;
    color: #2b6cb0;
}

.home-stat-container .orders-card h2 {
    font-size: 1.2em;
    color: #2f855a;
}

.home-stat-container .card-link {
    color: #4299e1;
    text-decoration: none;
    font-size: 0.9em;
    margin-top: 10px;
    display: inline-block;
    position: absolute;
    bottom: 10px;
}

.home-stat-container .card-link:hover {
    text-decoration: underline;
    color: #2b6cb0;
}

.home-stat-container .icon {
    width: 20px;
    height: 20px;
}

.home-stat-container .period-list b{
    text-transform: capitalize;
    font-weight: normal;
}
.home-stat-container .period-list{
    padding: 12px;
    width: 100px;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    opacity: 0;
    visibility: hidden;
    height: 0;
    background: var(--background);
    box-shadow: 0px 8px 24px -12px var(--discret-0) ;
    border-radius: 12px;
    z-index: 200;
    transition: 200ms;
}

.home-stat-container .period-list.visible{
    opacity: 1;
    height: auto;
    visibility: visible;
    transition: 200ms;
}

@media (max-width: 420px) {
    .home-stat-container {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "account"
            "visits"
            "orders";
    }
}