.commandes-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 8px;
}

.commandes-list .list{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 8px;
}


.commandes-list .top{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.commandes-list .filter{
    position: relative;
}

.commandes-list .filter-icon:hover{
    scale: 1.1;
}
.commandes-list .filter-icon{
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.commandes-list .popup-filter{
    position: absolute;
    right: 10px;
    width: 240px;
    height: 440px;
    background: #345;
}