.home-manage{
    width: 100%;
    display: flex;
    gap: 12px;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 10px ;
}

.home-manage .card:hover{
    scale: 1.02;
    transition: 100ms;
}
.home-manage .card{
    width:120px;
    min-width:120px;
    height:auto;
    aspect-ratio:1;
    background: rgba(212, 210, 203, 0.618);
    border-radius: 20px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: 100ms;
}
.home-manage .card.categories{
    background: rgba(199, 215, 218, 0.522);
}
.home-manage .card.stores{
    background: rgba(199, 218, 203, 0.6);
}
.home-manage .card .icon{
    width: 30px;
    height: 30px;
}

.home-manage .card .views{
   display: flex;
}
.home-manage .view{
    width: 40px;
    min-width: 40px;
    height: auto;
    aspect-ratio: 1;
    margin-right: -15px ;
    border-radius: 50%;
}

.home-manage::-webkit-scrollbar {
    display: none;
  }
  
  .home-manage::-webkit-scrollbar-track:hover {
    background: #b6b6b630;
    transition: 200ms;
  }
  
  .home-manage::-webkit-scrollbar-track {
    background: #b6b6b630;
    border-radius: 20px;
    transition: 200ms;
  }
  
  .home-manage::-webkit-scrollbar-thumb {
    background: #b6b6b631;
    border-radius: 20px;
    transition: 200ms;
  }
  
  .home-manage::-webkit-scrollbar-thumb:hover {
    background: #15132548;
    transition: 200ms;
  }