.swiper-products .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-products .swiper .swiper-wrapper {
  width: 300px;
  height: auto;
  aspect-ratio: 1;
}

.swiper-products .swiper-slide {
  display: flex;
  justify-content: center;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: auto;
  aspect-ratio: 1;
}

.swiper-products .swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  border-radius: 12px;
  overflow: hidden;
}


.swiper-products .swiper-slide .options span:hover {
  scale: 1.2;
  transition: 200ms;
  cursor: pointer;
}

.swiper-products .swiper-slide .options svg {
  width: 20px;
  height: 20px;
  transition: 200ms;
}

.swiper-products .swiper-slide .options span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-products .swiper-slide .options {
  width: 120%;
  /* background: #4455; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: 200ms;
  top: -25px;
  cursor: default;
}

.swiper-products .swiper-slide-active .options {
  visibility: visible;
  opacity: 1;
  transition: 200ms;
}




.swiper-products .new-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.swiper-products .new-image.hover{
  background: rgba(139, 237, 178, 0.389);
  transition: 200ms;
}

.swiper-products .new-image .center {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 12px;
  gap: 12px;
  border: 3px rgb(96, 176, 255) dotted;
}

.swiper-products .new-image svg {
  min-width: 60px;
  min-height: 60px;
  opacity: 0.7;
}


.swiper-products .new-image .chose-file.mouse-move{
  background: rgba(139, 237, 178, 0.389);
  transition: 200ms;
}
.swiper-products .new-image .chose-file {
  transition: 200ms;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 8px 12px;
  border: 2px rgb(96, 176, 255) solid;
}

.swiper-products .swiper-slide .move{
  position: absolute;
  bottom: 12px;
  display: flex;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: 200ms;
}
.swiper-products .swiper-slide-active .move{
  visibility: visible;
  opacity: 1;
  width: 100px;
}
.swiper-products .swiper-slide-active .move svg:hover{
  scale: 1.1;
  transition: 200ms;
}
.swiper-products .swiper-slide-active .move svg{
  background: #fff;
  border-radius: 100%;
  width: calc(var(--variant-view-size) / 3);
  height: auto;
  aspect-ratio: 1;
  transition: 200ms;
}

@media (width <440px) {
  .swiper-products .swiper .swiper-wrapper {
    width: 200px;
  }

  .swiper-products .swiper-slide {
    width: 200px;
  }
}

@media (width <300px) {
  .swiper-products .swiper .swiper-wrapper {
    width: 165px;
  }

  .swiper-products .swiper-slide {
    width: 165px;
  }
  
  .swiper-products .new-image .center {
    gap: 0px;
    padding: 4px;
}
}

@media (width <280px) {
  .swiper-products .swiper .swiper-wrapper {
    width: 145px;
  }

  .swiper-products .swiper-slide {
    width: 145px;
  }

}