.category-item{
    display: inline-block;
    width: var(--category-size);
    height: var(--category-size);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    transition: 200ms;
} 

.category-item:hover{
    scale: 1.05;
    transition: 200ms;
}

.category-item span{
    max-width: 85px;
}
.category-item .item-view{
    /* all: unset; */
    width: 60px;
    border-radius: 8px;;
    height: auto;
    aspect-ratio: 1;
}