.page-not-found{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
}

.page-not-found h2{
    padding: 12px;
    max-width: 360px;
    text-align: center;
}
.page-not-found .bottom{
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 12px;
}
.page-not-found p{
    max-width: 360px;
    text-align: center;
}
.page-not-found .home{
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}