.child-viewer{
    width: 95%;
    max-width: 550px ;
    max-height: 80%;
    background: var(--background);
    border-radius: 20px;
}

.child-viewer .top{
    width: 100%;
    display: flex;
    padding: 6px 12px;
}

.child-viewer .close:hover{
    scale: 1.1;
    background: var(--discret-2);
    border-radius: 50%;
    transition: 100ms;
}
.child-viewer .close{
    margin-left: auto;
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: 100ms;
}

.child-viewer .ctn{
    overflow-y: auto;
}
.child-viewer .ctn >*{
    overflow-y: auto;
}