.commands-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 8px;
}

.commands-list .list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: stretch;
    gap: 12px;
}

.commands-list .list .watting-command{
    width: 100%;
    height: 300px;
}
.commands-list .list .not-found-command{
    width: 100%;
    height: 300px;
}

.commands-list .list h2{
    margin: 12px 0;
}

.commands-list>.top {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.commands-list .filter:hover {
    scale: 1.05;
}

.commands-list .filter {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.commands-list .filter-icon {
    width: 22px;
    height: 22px;
}


/*  commands-filters */

.commands-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
}

.commands-list .onglet {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 8px;
    gap: 12px;
    overflow-x: auto;
    overflow-y: hidden;
    border-radius: 12px;
}

.commands-list .onglet>*:hover {
    transition: 200ms;
    scale: 1.05;
}

.commands-list .onglet>* {
    display: inline-flex;
    align-items: center;
    background: var(--discret-9);
    border-radius: 8px;
    padding: 2px 8px;
    cursor: pointer;
    transition: 200ms;
}

.commands-list  .onglet svg {
    transform: translateY(2px);
    margin-left: 8px;
}

.commands-list .onglet .collected {
    color: #08f;
    background: #0088ff14;
}
.commands-list .onglet .active {
    color: #08f;
    background: #0088ff2b;
    border: 1px solid #08f;
}

.commands-list  .onglet .active svg {
    rotate: 180deg;
    transform: translateY(0px);
}


.commands-list .chose>div {
    height: 0%;
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: 200ms;
}

.commands-list .chose >div.active {
    height: 100%;
    opacity: 1;
    visibility: visible;
    transition: 200ms;
}

.commands-list .chose .status-filter-component,
.commands-list .chose .order-filter-component,
.commands-list .chose .price-filter-component{
    gap: 6px;
    display: flex;
    flex-wrap: wrap;
    padding: 4px;
}

.commands-list .chose .order-filter-component span {
    padding: 2px 8px;
    background: var(--discret-9);
    color: var(--discret-1);
    border-radius: 8px;
    font-size: 0.9em;
}
.commands-list .chose .order-filter-component span.order {
    background: rgba(var(--primary-color-rbg),0.1);
    color: var(--primary-color);
}
.commands-list .chose .price-filter-component label{
    display: flex;
    flex-direction: column;
    width: 160px;
    position: relative;
    padding: 12px;
    padding-top: 2px;
    border: 1px solid #3455;
}
.commands-list .chose .price-filter-component label input{
    all: unset;
    padding:6px 12px ;
}
.commands-list .chose .price-filter-component label span{
    font-size: 0.85em;
}

.commands-list .chose .date-filter-component .dates{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.commands-list .chose .date-filter-component .dates  span {
    padding: 2px 8px;
    background: var(--discret-9);
    color: var(--discret-1);
    border-radius: 8px;
}
.commands-list .chose .date-filter-component .dates span.marge {
    background: #ffa50022;
    color: #ffa500;
}



.commands-list .chose .reset span{
    background: var(--discret-3);
    color: var(--discret-2);
    cursor: default;
    padding: 4px 12px;
    border-radius: 8px;
    display: inline-flex;
}
.commands-list .chose .reset span.ok:hover{
    scale: 1.02;
    background: var(--discret-2);
}
.commands-list .chose .reset span.ok{
    cursor: pointer;
    color: var(--color);
}




.commands-list .empty{
    width: 160px;
    height: auto;
    aspect-ratio: 1;
}







.rdp-range_middle{
    color: var(--discret-7);
    background-color:  var(--discret-1)!important;
}

.rdp-range_start{
    background-image: linear-gradient(90deg, transparent 50%, var(--discret-1) 50%)!important;;
}
.rdp-range_end{
    background-image: linear-gradient(90deg, var(--discret-1) 50%, transparent 50%)!important;;
}
.rdp-range_start.rdp-range_end{
    background-image: linear-gradient(90deg, transparent 50%, transparent 50%)!important;;
}

