.commands-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 8px;
}

.commands-list .list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: stretch;
    gap: 12px;
}

.commands-list .list .date{
    font-weight: bold;
    font-size: 1em;
    opacity: 0.8;
}
.commands-list .list .watting-command{
    width: 100%;
    height: 300px;
}
.commands-list .list .not-found-command{
    width: 100%;
    height: 300px;
}

.commands-list .list h2{
    margin: 12px 0;
}

.commands-list>.top {
    width: 100%;
    display: flex;
}

.commands-list .see-all:hover,
.commands-list .filter:hover {
    scale: 1.05;
}
.commands-list .see-all,
.commands-list .filter {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.commands-list .filter-icon {
    width: 22px;
    height: 22px;
}
.commands-list .see-all {
    gap: 4px;
    font-size: 0.9em;
    min-width: 80px;
    padding: 8px;
}

.commands-list .see-all svg {
    width: 16px;
    height: 16px;
}

/*  commands-filters */

.filters {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
}

.filters .onglet {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 8px;
    gap: 12px;
    overflow-x: auto;
    overflow-y: hidden;
    border-radius: 12px;
}

.filters .onglet>*:hover {
    transition: 200ms;
    scale: 1.05;
}

.filters .onglet>* {
    display: inline-flex;
    align-items: center;
    border: 1px solid var(--discret-9);
    border-radius: 8px;
    padding: 2px 8px;
    cursor: pointer;
    transition: 200ms;
}

.filters  .onglet svg {
    transform: translateY(2px);
    margin-left: 8px;
}

.filters .onglet .collected {
    color: #08f;
    background: #0088ff14;
}
.filters .onglet .active {
    color: #08f;
    background: #0088ff2b;
    border: 1px solid #08f;
}

.filters  .onglet .active svg {
    rotate: 180deg;
    transform: translateY(0px);
}


.filters .chose>div {
    height: 0%;
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: 200ms;
}

.filters .chose >div.active {
    height: 100%;
    opacity: 1;
    visibility: visible;
    transition: 200ms;
}

.filters .chose .status-filter-component,
.filters .chose .order-filter-component,
.filters .chose .price-filter-component{
    gap: 6px;
    display: flex;
    flex-wrap: wrap;
    padding: 4px;
}

.filters .chose .order-filter-component span {
    padding: 2px 8px;
    border: 1px solid var(--discret-8);
    color: var(--discret-1);
    border-radius: 8px;
    font-size: 0.9em;
}
.filters .chose .order-filter-component span.order {
    background: rgba(var(--primary-color-rgb),0.1);
    color: var(--primary-color);
}
.filters .chose .price-filter-component label{
    display: flex;
    flex-direction: column;
    width: 160px;
    position: relative;
    padding: 12px;
    padding-top: 2px;
    border: 1px solid #3455;
}
.filters .chose .price-filter-component label input{
    all: unset;
    padding:6px 12px ;
}
.filters .chose .price-filter-component label span{
    font-size: 0.85em;
}

.filters .chose .date-filter-component .dates{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.filters .chose .date-filter-component .dates  span {
    padding: 2px 8px;
    border: 1px solid var(--discret-8);
    color: var(--discret-1);
    border-radius: 8px;
}
.filters .chose .date-filter-component .dates span.marge {
    background: #ffa50022;
    color: #ffa500;
}



.filters .chose .reset span{
    border: 1px solid var(--discret-8);
    cursor: default;
    padding: 4px 12px;
    border-radius: 8px;
    display: inline-flex;
    cursor: pointer;
}
.filters .chose .reset span.ok:hover{
    scale: 1.02;
}
.filters .chose .reset span.ok{
    cursor: pointer;
    color: var(--color);
}

.filters .empty{
    width: 160px;
    height: auto;
    aspect-ratio: 1;
}

.update_events{
    padding: 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.order-status-element{
    cursor: pointer;
    border: 1px solid var(--discret-9);
}
.order-status-element:hover{
    scale: 1.05;
}





.rdp-range_middle{
    color: var(--discret-3);
    background-color:  var(--discret-9)!important;
}

.rdp-range_start{
    background-image: linear-gradient(90deg, transparent 50%, var(--discret-9) 50%)!important;;
}
.rdp-range_end{
    background-image: linear-gradient(90deg, var(--discret-9) 50%, transparent 50%)!important;;
}
.rdp-range_start.rdp-range_end{
    background-image: linear-gradient(90deg, transparent 50%, transparent 50%)!important;;
}



/* .commands-search*/


.commands-list .commands-search {
    display: flex;
    width: 100%;
    align-items: center;
}

.commands-list .commands-search label svg{
    opacity: 0.8;
    scale: 0.8;
}
.commands-list .commands-search label {
    max-width: 50%;
    width: 50%;
    margin-left: auto;
}

.commands-list .commands-search input {
    max-width: 100%;
    width:100%;
    padding-right: 40px;
}

@media (width<380px) {
    .commands-list .commands-search label {
        max-width: 80%;
        width: 80%;

    }
    .commands-list .commands-search {
        flex-wrap: wrap;
    }
}