body,
html {
  box-sizing: border-box;
  background: var(--background);
  overflow: hidden;
  padding: 0;
  margin: 0;
}

body {
  font-size: 1rem;
  width: 100vw;
  height: 100vh;
  color: #fff;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1em;
  color: var(--discret-0);
  font-family:  system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*  1B69FD bleu  */
#open-child {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  background: var(--background-child-viewer);
  display: flex;
  justify-content: center;
  align-items: center;
}

#sidebar {
  display: none;
  width: var(--side-bar);
  cursor: pointer;
}

/* #bottombar a:hover, */
#sidebar a:hover {
  opacity: 0.9;
  transition: 200ms;
  background: rgba(255, 162, 0, 0.097);
}
#sidebar a{
  transition: 200ms;
  color: var(--discret-1);
  font-weight: normal;
}
#sidebar a.is-active {
  transition: 200ms;
  color: rgb(255, 162, 0);
}

#bottombar a,
#sidebar a {
  margin-left: -10px;
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 8px;
  padding: 4px 10px;
}


#bottombar a>svg,
#sidebar a>svg {
  width: 25px;
  height: 25px;
  opacity: 0.9;
}

.prompt{ /* en petit caractere*/
  all: unset;
  font-size: 0.8em;
  font-weight: normal;
} 

#bottombar {
  display: flex;
  position: fixed;
  z-index: 999;
  bottom: 0px;
  width: 100%;
  height: 60px;
  background: var(--background);
  justify-content: space-around;
  border: 0 solid #e5e7eb;
  box-shadow: -1px 0 0 #e0e3e8, 0 -3px 6px 0 rgba(69, 98, 155, .12);
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.column{
  display: flex;
  flex-direction: column;
}
.column-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  all: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: flex;
  align-items: center;
  gap: 8px;
}

h1 {
  font-size: 1.4em;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1em;
}
[class^=icon]{
  display: inline-block;
  height: auto;
  aspect-ratio: 1;
}
[class^=icon-20]{
  width: 20px;
}
[class^=icon-25]{
  width: 25px;
}
[class^=icon-32]{
  width: 32px;
}
[class^=icon-48]{
  width: 48px;
}
[class^=icon-60]{
  width: 60px;
}
[class^=icon-80]{
  width: 80px;
}
[class^=icon-100]{
  width: 100px;
}
[class^=icon-120]{
  width: 120px;
}
[class^=icon-140]{
  width: 140px;
}
[class^=icon-160]{
  width: 160px;
}
[class^=icon-180]{
  width: 180px;
}
[class^=icon-200]{
  width: 200px;
}
[class^=icon-220]{
  width: 220px;
}


:root {
  --red:#FF4C4C;
  --red-rgb:255, 76, 76;
  --green:#4CAF50;
  --green-rgb:76, 174, 79;
  --box-shadow: 0px 0px 16px -8px var(--discret-0);;
  --gray-gradiant:linear-gradient(330deg, rgba(73, 73, 73, 0.062) 0%, rgba(0, 0, 0, 0.585) 100%), linear-gradient(40deg, rgb(255, 255, 255) 0%, rgba(110, 73, 73, 0.804) 100%);
  --primary-gradiant:linear-gradient(330deg, rgba(208, 115, 0, 0.448) 0%, rgba(195, 94, 0, 0.585) 100%), linear-gradient(40deg, rgb(255, 247, 0) 0%, rgba(255, 0, 0, 0.804) 100%);
  --secondary-gradiant:linear-gradient(330deg, rgba(0, 21, 208, 0.448) 0%, rgba(0, 159, 195, 0.585) 100%), linear-gradient(40deg, rgb(0, 251, 255) 0%, rgba(17, 0, 171, 0.804) 100%);
  --category-size:80px;
  --primary-color: rgb(255, 162, 0);
  --primary-color-rgb:255, 162, 0;
  --secondary-color: rgb(0, 153, 255);
  --secondary-color-rgb: 0, 153, 255;
  --gray-color: #345;
  --gray-color-rgb: 51, 68, 85;
  --tertiary-color: #c0c0c0;
  --tertiary-color-rgb: #c0c0c0;
  --background: #fff;
  --discret-0: hsl(210, 25%, 0%);
  --discret-1: hsl(210, 25%, 10%);
  --discret-2: hsl(210, 25%, 20%);
  --discret-3: hsl(210, 25%, 30%);
  --discret-4: hsl(210, 25%, 40%);
  --discret-5: hsl(210, 25%, 50%);
  --discret-6: hsl(210, 25%, 60%);
  --discret-7: hsl(210, 25%, 70%);
  --discret-8: hsl(210, 25%, 80%);
  --discret-9: hsl(210, 25%, 90%);
  --discret-10: hsl(210, 25%, 100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(135deg, #15141d, #1e1b38, #12123a);
    --discret-0: hsl(0, 0%, 100%);
    --discret-1: hsl(210, 25%, 90%);
    --discret-2: hsl(210, 25%, 80%);
    --discret-3: hsl(210, 25%, 70%);
    --discret-4: hsl(210, 25%, 60%);
    --discret-5: hsl(210, 25%, 50%);
    --discret-6: hsl(210, 25%, 40%);
    --discret-7: hsl(210, 25%, 30%);
    --discret-8: hsla(209, 25%, 30%, 0.89);
    --discret-9: hsla(210, 25%, 25%, 0.79);
    --discret-10: hsla(210, 25%, 20%, 0.011);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #fff;
    --discret-0: hsl(210, 25%, 20%);
    --discret-1: hsl(210, 25%, 25%);
    --discret-2: hsl(210, 25%, 30%);
    --discret-3: hsl(210, 25%, 35%);
    --discret-4: hsl(210, 25%, 40%);
    --discret-5: hsl(210, 25%, 50%);
    --discret-6: hsl(210, 25%, 60%);
    --discret-7: hsl(210, 25%, 70%);
    --discret-8: hsl(210, 25%, 80%);
    --discret-9: hsl(210, 25%, 90%);
    --discret-10: hsl(210, 25%, 100%);
  }
}


*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track:hover {
  background: #b6b6b630;
  transition: 200ms;
}

*::-webkit-scrollbar-track {
  background: #b6b6b630;
  border-radius: 20px;
  transition: 200ms;
}

*::-webkit-scrollbar-thumb {
  background: #b6b6b631;
  border-radius: 20px;
  transition: 200ms;
}

*::-webkit-scrollbar-thumb:hover {
  background: #15132548;
  transition: 200ms;
}

/* CONTENT SCROLL invisible*/

#page-content{
  padding: 20px;
}

#page-content::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

#page-content::-webkit-scrollbar-track:hover {
  background: #0000;
}

#page-content::-webkit-scrollbar-track {
  background: #0000;
}

#page-content::-webkit-scrollbar-thumb {
  background: #0000;
}

#page-content::-webkit-scrollbar-thumb:hover {
  background: #0000;
}

.no-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px; 
}


.theme-specialities span{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--discret-3);
  border-bottom: 1px var(--contrast-3) solid;
  
}
.theme-specialities{
  padding: 6px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
}



label.editor {
  font-weight: bold;
  display: flex;
  gap: 12px;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
  cursor: text;
}

input.editor,
textarea.editor {
  all: unset;
  height: 40px;
  padding: 15px;
  /* background: linear-gradient(rgba(99, 106, 150, 0.4) 0%, rgba(182, 186, 214, 0.25) 100%); */
  border: 1px solid var(--discret-9);
  border-radius: 12px;
  /* box-shadow: rgba(0, 0, 0, 0.15) 0px 20px 40px, rgba(255, 255, 255, 0.3) 0px 0px 0px 0.5px inset; */
  box-sizing: border-box;
  /* padding: 10px 42px; */
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  width: 100%;
  /* max-width: 300px; */
}

input.editor:focus,
textarea.editor:focus {
  outline: none;
  padding-left: 24px;
  box-shadow: rgba(47, 184, 255, 0.3) 0px 10px 40px, rgb(47, 184, 255) 0px 0px 0px 1px inset;
  /* background: linear-gradient(rgba(24, 32, 79, 0.4) 0%, rgba(24, 32, 79, 0.25) 100%); */
}
input.editor:hover,
textarea.editor:hover {
  border: 1px solid var(--discret-9);
}
.input-message{
  display: flex;
  align-items: center;
}
.input-message .error-message{
  font-size: 0.8em;

}
.input-message .right{
  margin-left: auto;
  font-size: 0.8em;
}
textarea.editor {
  width: 100%;
  min-height: 40px;
  max-height: 300px;
  overflow: hidden;
  resize: none;
  padding: 8px;
  font-size: 16px;
  border-radius: 12px;
}



/*  CATEGORY */
.category-ctn{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.category-ctn .icon:hover{
  scale: 1.05;
  box-shadow: 0px 0px 16px -8px var(--discret-0);
}
.category-ctn .icon{
  width: 60px;
  height: 60px;
  margin: 0 7px;
  /* background: rgb(139, 158, 178); */
  box-shadow: 0px 0px 12px -8px var(--discret-0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 6px;
  border-radius: 12px;
}
.category-ctn span{
  font-size: 0.7em;
}

.category-ctn svg{
  width: 20px;
  height: 20px;
}












@media (width < 650px) {
  body {
    font-size: 0.9em !important;
  }
}

@media (width>550px) {
  #bottombar {
    display: none;
  }

  #sidebar {
    display: flex;
  }
}

@media (width>550px) and (width<650px) {
  :root {
    --side-bar: var(--side-bar-width-min)
  }

  #sidebar a {
    justify-content: center;
  }

  #sidebar a span {
    display: none;
  }
}

@media (width>650px) {
  :root {
    --side-bar: var(--side-bar-width-max)
  }
}

@media (width<550px) {
  :root {
    --side-bar: 0px
  }
  #page-content{
    padding: 12px;
  }
}

@media (width<450px){
  #page-content{
    padding: 8px;
  }
}