.product .views {
    width: 100%;
    /* background: #3345; */

}

.product>h3 {
    margin-top: 16px;
    margin-bottom: 12px;
}

.product h3 span{
    font-weight: normal;
    opacity: 0.9;
    font-size: 0.9em;
}
.product .view {
    width: 80%;
    height: auto;
    aspect-ratio: 2;
}


#input-product-barred-price,
#input-product-price{
    padding-right: 50px;
}
.product .price-ctn{
    position: relative;
    max-width: 180px;
    display: flex;
    align-items: center;
}
.product .currency{
    font-size: 1.1em;
    position: absolute;
    right: 16px;
}

/*  CATEGORY */
.product .category-ctn{
    display: flex;
    align-items: center;
}

.product .category-ctn .icon:hover{
    scale: 1.05;
    box-shadow: 0px 0px 16px -8px var(--discret-0);
}
.product .category-ctn .icon{
    width: 60px;
    height: 60px;
    margin: 0 7px;
    /* background: rgb(139, 158, 178); */
    box-shadow: 0px 0px 12px -8px var(--discret-0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 6px;
    border-radius: 12px;
}
.product .category-ctn span{
    font-size: 0.7em;
}
.product .category-ctn svg{
    width: 20px;
    height: 20px;
}

.product .commands-list{
    margin-top: 42px;
}









.product .setting-product{
    width: 100%;
    padding: 24px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.button:hover{
    gap: 24px;
    transition: 200ms;
}
.button{
    width: 100%;
    margin: 0 6px;
    padding: 2px;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 12px;
    border-radius: 12px;
    box-shadow: 0px 0px 12px -8px var(--discret-0);
    transition: 200ms;
}
.button.vertical{
    flex-direction: column;
}
.button .icon{
    width: 56px;
    height: auto;
    aspect-ratio: 1;
    border-radius: 12px; 
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--discret-9);
}
.button svg.right{
    margin-left: auto;
    margin-right: 12px;
}
.button svg{
    width: 24px;
    height: 24px;
}





@media (width<350px) {

    .product input:focus,
    .product textarea:focus {
        padding-left: 24px;
    }
}