.product .views {
    width: 100%;
    /* background: #3345; */

}

.product>h3 {
    margin-top: 16px;
    margin-bottom: 12px;
}

.product h3 span{
    font-weight: normal;
    opacity: 0.9;
    font-size: 0.9em;
}
.product .view {
    width: 80%;
    height: auto;
    aspect-ratio: 2;
}


#input-product-barred-price,
#input-product-price{
    padding-right: 50px;
}
.product .price-ctn{
    position: relative;
    max-width: 180px;
    display: flex;
    align-items: center;
}
.product .currency{
    font-size: 1.1em;
    position: absolute;
    right: 16px;
}


.product .commands-list{
    margin-top: 42px;
}

.product .setting-product{
    width: 100%;
    padding: 24px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}



@media (width<350px) {

    .product input:focus,
    .product textarea:focus {
        padding-left: 24px;
    }
}