.command{
    width: 100%;
}
.command > h2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 24px;
}

.command > h2 * b{
    color: var(--discret-0);
    opacity: 0.5;
    font-size: 0.9em;
}
.command > h2 span{
    color: var(--discret-1);
}
/*    TOP     */
.command-top{
    margin: 24px 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    align-items: flex-start;
}
.command-top h3{
    color: var(--discret-1);
    margin-bottom: 4px;
}

.command-top .data{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.command-top .receipt:hover{
    scale: 1.02;
}

.command-top .receipt{
    text-decoration:underline;
    font-weight:normal;
    background: var(--contrast-3);
    color: var(--contrast-text-color-1);
    border-radius: 12px;
    display: inline-flex;
    align-self: flex-start;
    padding: 4px 12px;
    cursor: pointer;
}
.command-top  .copie-link.anim{
    animation: copie-anim 800ms normal;
}

@keyframes copie-anim{
    0%{
        opacity: 1;
        transform: translateY(0);
        scale: 1;
    }
    49%{
        opacity: 0;
        transform: translateY(-10px);
        scale: 1.4;
    }
    
    50%{
        opacity: 0;
        transform: translateY(10px);
        scale: 1.4;
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
        scale: 1;
    }
}

/*    client-info       */
.command .client-info{
    width: 100%;
    background: var(--discret-3);
    margin: 12px 0;
    border-radius: 12px;
}   

/*    products-list     */
.command .products-list{
    width: 100%;
    border-radius: 12px;
    margin: 12px 0;
}

/*    status-events     */
.command .status-events{
    width: 100%;
    margin: 12px 0;
    border-radius: 12px;
}   


/* social-popup */
.social-popup{
    display: flex;
    justify-content: center;
    padding: 12px 12px 48px 12px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}


.social-popup button{
    all: unset;
    display: flex;
    gap: 12px;
    width: 160px;
    padding: 4px 12px;
    border-radius: 8px;
    cursor: pointer;
    /* box-shadow: 0px 0px 12px -8px ; */
}

.social-popup button:hover{
    box-shadow: 0px 0px 12px -8px ;
}
.social-popup button svg.forward{
    margin-left: auto;
}
.social-popup button svg{
    min-width: 20px;
    height: 20px;
}
