.command-user{
    padding: 12px;
    display: flex;
    align-items: flex-start;
    gap: 12px;
}

.command-user .photo{
    min-width: 80px;
    height: auto;
    aspect-ratio: 1;
    border-radius: 12px;
}

.command-user .infos{
    display: flex;
    flex-direction: column;
}

.command-user .infos svg{
    min-width: 25px;
}

.command-user .infos .logo{
    min-width: 32px;
    min-height: 32px;
}

.command-user .infos div {
    display: flex;
    gap: 12px;
    align-items: center;
}

.command-user [class$=-mode] {
    margin-bottom: 2px;    
}
.command-user [class$=-mode] span{
    margin-left: auto;
}

@media (width<330px){
    .command-user{
        flex-wrap: wrap;
    }
}
