.status-events {
    display: flex;
    flex-direction: column;
}

.command-status {
    display: flex;
    gap: 12px;
    align-items: flex-start;
}

.command-status .date{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.command-status .date span{
    white-space: nowrap;
}
.command-status .step{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 25px;
    
}
.command-status .step .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 25px;
    height: auto;
    aspect-ratio: 1;
    border-radius: 100%;
    background: var(--contrast-1);
    color: var(--contrast-text-color-1);
}
.command-status .step svg{
    min-width: 24px;
    height: auto;
    color: #fff;
    aspect-ratio: 1;
}

.command-status .step .bar{
    width: 2px;
    margin: 8px 0;
    background: var(--discret-1);
    opacity: 0.2;
    height: 80px;
}
.command-status .date{
    color: var(--discret-1);
}