.command-user{
    padding: 12px;
    display: flex;
    align-items: flex-start;
    gap: 12px;
}

.command-user .photo{
    min-width: 80px;
    height: auto;
    aspect-ratio: 1;
    border-radius: 12px;
}

.command-user .infos{
    display: flex;
    flex-direction: column;
}

.command-user .infos svg{
    min-width: 25px;
}


.command-user .infos > div {
    display: flex;
    flex-direction: column;
}   
.command .infos > div > .foot {
    display: flex;
    align-items: center;
    padding: 8px;
    gap: 12px;
}
.command .infos > div > .head {
    display: flex;
    align-items: center;
}

@media (width<330px){
    .command-user{
        flex-wrap: wrap;
    }
}
