.top-search {
    padding: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 8px;
}

.top-search label {
    margin-bottom: 24px;
}

.top-search .list {
    padding: 4px;
}
.top-search .product-item {
    width: 144px;
}
.top-search .product-item {
    aspect-ratio: 0 ;
}

@media (width < 550px) {
    .top-search {
        padding: 24px;
    }
}

@media (width < 360px) {
}

