.stores .details {
    position: relative;
    width: 100%;
    width: 100%;
    height: 100%;
}


@keyframes toLeftandRight {
    0% {
        transform: translateX(0%);
        opacity: 1;
    }
  
    49% {
        transform: translateX(100%);
        opacity: 0;
    }

    50% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes toRightandLeft {
    0% {
        transform: translateX(0%);
        opacity: 1;
    }
    49% {
        transform: translateX(-100%);
        opacity: 0;
    }

    50% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes toLeft {
    0% {
        transform: translateX(0%);
        opacity: 1;
    }
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}


@keyframes fromRight {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

.stores .p-1 {
    animation: toLeftandRight 0.6s ease-in-out forwards;
}

.stores .p1 {
    animation: toRightandLeft 0.6s ease-in-out forwards;
}
.stores .p0 {
    opacity: 1;
    transform: translateX(0%);
}


.stores .right {
    animation: fromRight 0.3s ease-in-out forwards;
}

.stores .left {
    animation: toLeft 0.3s ease-in-out forwards;
}

.stores .detail-current-theme:hover .image {
    background-size: 120%;
}

.stores .detail-current-theme {
    display: flex;
    align-items: center;
    width: 100%;
}

.stores .current-theme {
    width: 100%;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    padding: 12px;
    border-radius: 24px;
    box-shadow: 0px 1px 12px -7px var(--contrast-1);
}

.stores .current-theme .image {
    width: 200px;
    min-width: 200px;
    height: auto;
    aspect-ratio: 1.4;
    border-radius: 12px;
}

.stores .current-theme .general {
    width: 100%;
    padding: 24px;
    padding-bottom: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
}

.stores .current-theme .status {
    background: #31ff7644;
    color: #00b23b;
    padding: 6px 24px;
    border-radius: 24px;

}

.stores .current-theme .options.swiper {
    width: 100%;
    padding: 12px;
}

.stores .current-theme .swiper-slide:hover {
    scale: 1.04;
    background: var(--discret-2);
}

.stores .current-theme .swiper-slide {
    height: auto;
    aspect-ratio: 1;
    background: var(--discret-3);
    border-radius: 12px;
    display: flex;
    gap: 12px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    cursor: pointer;
}

.stores .current-theme .swiper-slide span {
    font-weight: bold;
}

.stores .current-theme .swiper-slide.hidden {
    background: #0000;
}

/*  MANAGE STORE  */

.stores .manages-stores.active {
    background: linear-gradient(330deg, rgba(208, 115, 0, 0.448) 0%, rgba(195, 94, 0, 0.585) 100%), linear-gradient(40deg, rgb(255, 247, 0) 0%, rgba(255, 0, 0, 0.804) 100%);
}

.stores .manages-stores.active .change-store {
    display: none !important;
}

.stores .manages-stores.active .store-options {
    display: flex !important;
}

.stores .manages-stores .store-options {
    display: none;
}

.stores .manages-stores {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 16px;
    margin-top: 24px;
    border-radius: 24px;
    color: aliceblue;
    background: linear-gradient(330deg, rgba(73, 73, 73, 0.448) 0%, rgba(0, 0, 0, 0.585) 100%), linear-gradient(40deg, rgb(255, 255, 255) 0%, rgba(110, 73, 73, 0.804) 100%);
    box-shadow: 0px 1px 12px -7px var(--contrast-1);
}

/* */
.stores .manage-side {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.stores .manage-side h3 {
    color: #fffc;
}

.stores .manage-side p {
    color: #fff;
}

.stores .manage-side.change-store {
    gap: 40px;
    justify-content: space-around;
}

.stores .manage-side .btn:hover {
    scale: 1.02;
    opacity: 0.9;
}

.stores .manage-side .btn {
    padding: 8px;
    text-align: center;
    border-radius: 24px;
    font-size: 1em;
    /* font-weight: bold; */
    letter-spacing: 2px;
    background: linear-gradient(330deg, rgba(208, 115, 0, 0.448) 0%, rgba(195, 94, 0, 0.585) 100%), linear-gradient(40deg, rgb(255, 247, 0) 0%, rgba(255, 0, 0, 0.804) 100%);
    cursor: pointer;
}

/* */
.stores .manage-side .stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.stores .manage-side .activities {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.stores .manage-side .activity>h3 span {
    font-weight: normal;
}

.stores .manage-side .activity>h3 {
    white-space: nowrap;
    min-width: 120px;
}

.stores .manage-side .activity>span {
    white-space: nowrap;
    display: inline-block;
    min-width: 60px;
}

.stores .manage-side .activity {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 6px;
}

/**/

.stores .manage-side.store-options>div:hover {
    background: #fff4;
    transition: 200ms;
}

.stores .manage-side.store-options>div {
    display: flex;
    align-items: center;
    gap: 12px;
    white-space: nowrap;
    min-width: 200px;
    background: #fff2;
    padding: 4px 12px;
    border-radius: 12px;
    transition: 200ms;
    cursor: pointer;
}

.stores .manage-side.store-options {
    gap: 8px;
    align-items: center;
}

.stores .manage-side.store-options>div {
    display: flex;
    gap: 12px;
}

.stores .manage-side.store-options>div svg {
    width: 20px;
    height: 20px;
}

.stores .manage-side.store-options>div svg.end {
    margin-left: auto;
}


@media (width < 470px) {

    .stores .manages-stores {
        flex-wrap: wrap-reverse;
    }
}