.icon-text-info{
    padding: 24px;
    padding-top: 0;
}

.icon-text-info .view{
    margin: 0 12px;
}

.icon-text-info h3{
    margin-bottom: 8px;
    margin-top: 16px;
}

.icon-text-info .view svg {
    margin-right: 12px;
}

.icon-text-info .view span {
    text-align: center;
    font-size: 0.9em;
    display: inline-block;
    padding: 8px 12px;
}

.icon-text-info .view {
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border-radius: 12px;
}

.icon-text-info .view .edit {
    width: 32px;
    height: 32px;
    background: var(--discret-10);
    margin-left: auto;
    position: absolute;
    border-radius: 12px;
    bottom: 5px;
    right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-text-info .edit:hover .edit-img {
    scale: 1.1;
    transition: 200ms;
}

.icon-text-info .view .edit-img {
    transition: 200ms;
    width: 24px;
    height: 24px;
    margin: 0;
}

.shadow {
    box-shadow: 0px 2px 12px -8px #000;
    background: var(--discret-10);
}

.confirm{
    margin-top: 24px;
}


.icon-text-info h3, .icon-text-info label {
    margin-top: 16px;
    margin-bottom: 8px;
}
/*-------------------  icon_text / icon   ------------------*/

.value-icon-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    position: relative;
}
.value-icon-text .delete svg{
    width: 20px;
    height: 20px;
    background: var(--discret-9);
    /* background-image: linear-gradient(to right, var(--red), transparent); */
    border-radius: 50px;
}

.value-icon-text .delete:hover svg{
    scale: 1.1;
    /* background-image: linear-gradient(to right, var(--red), var(--red)); */
}

.value-icon-text .text{
    max-width: 80px;
    text-align: center;
}
.value-icon-text .text.empty{
    display: inline-block;
    width: 100%;
    height: 16px;
    background: var(--discret-9);
}

.value-icon-text .delete {
    position: absolute;
    top: -12px;
    right: -12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background: var(--discret-10)
}

.value-icon-text [class^=icon]{
    border-radius: 8px;
    overflow: hidden;
}

/* ---------------------  text Value -----------------------*/
.value-text{
    /* min-width: 80px; */
    max-width: 140px;
    border-radius: 100px;
    border: 1px solid var(--discret-8);
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 2px;
}
.value-text .delete svg{
    width: 20px;
    height: 20px;
    background: var(--discret-9);
    /* background-image: linear-gradient(to right, var(--red), transparent); */
    border-radius: 50px;
}

.value-text .delete:hover svg{
    scale: 1.1;
    /* background-image: linear-gradient(to right, var(--red), var(--red)); */
}

.value-text .text{
    padding: 0 6px;
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: center;
}
.value-text .text.empty::after{
    content: 'text vide';
    display: inline-block;
    width: 100%;
    font-size: 0.8em;
    height: 16px;
    /* margin: 0 2px; */
}
.value-text .delete {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background: var(--discret-10)
}