
.store-create .ctn > h1{
    margin-bottom: 24px;
}
/* PROGRESS  */
.store-create .progress-store{
    display: flex;
    width: 100%;
    max-width: 500px;
    align-items: center;
    margin-top: 24px;
}

.store-create .progress-store div{
    background: var(--discret-9);
    display: inline-flex;
    align-items: center;
    padding: 2px 12px ;
    border-radius: 12px;
    cursor: pointer;
}
.store-create .progress-store div.active{
    background: rgba(var(--primary-color-rgb), 0.1);
    color: var(--primary-color);
}

.store-create .progress-store span{
    background: var(--discret-0);
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 2px;
    border-radius: 2px;
}
.store-create .progress-store span.active{
    background: rgba(var(--primary-color-rgb), 1);
}

/* Sections  */

.store-create .swiper.s-3{
    height: 500px;
    transition: 300ms;
}
.store-create .swiper{
    width: 100%;
    height: 350px;
    transition: 300ms;
}
.store-create .swiper-slide{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
/*name*/
.store-create .swiper-slide.name{
    gap: 32px;
}
.store-create input {
    all: unset;
    height: 40px;
    padding: 15px;
    /* background: linear-gradient(rgba(99, 106, 150, 0.4) 0%, rgba(182, 186, 214, 0.25) 100%); */
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 20px 40px, rgba(255, 255, 255, 0.3) 0px 0px 0px 0.5px inset;
    box-sizing: border-box;
    /* padding: 10px 42px; */
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    width: 100%;
    max-width: 300px;
}

.store-create  input:focus {
    outline: none;
    padding-left: 42px;
    box-shadow: rgba(47, 184, 255, 0.3) 0px 10px 40px, rgb(47, 184, 255) 0px 0px 0px 1px inset;
    /* background: linear-gradient(rgba(24, 32, 79, 0.4) 0%, rgba(24, 32, 79, 0.25) 100%); */
}

.store-create .swiper-slide.name input.valid-name {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 20px 40px, rgba(47, 255, 168, 0.3) 0px 0px 0px 1px inset;
}
.store-create .swiper-slide.name input.valid-name:focus {
    box-shadow: rgba(47, 255, 168, 0.3) 0px 10px 40px, rgb(47, 255, 168) 0px 0px 0px 1px inset;
}
.store-create .swiper-slide.name input.invalid-name {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 20px 40px, rgba(255, 51, 51, 0.499) 0px 0px 0px 1px inset;
}
.store-create .swiper-slide.name input.invalid-name:focus {
    box-shadow: rgba(255, 47, 47, 0.3) 0px 10px 40px, rgb(255, 47, 47) 0px 0px 0px 1px inset;
}

/*logo*/
.store-create .indicator-logo{
    width: 40px;
    height: 40px;
    background: #3454;
    margin: 10px 0;
}
.store-create .card-preview-logo{
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0px 2px 16px -12px #000; 
}
.store-create .card-preview-logo .name{
    max-width: 200px;
    font-size: 1em;
}
.store-create .card-preview-logo .logo{
    width: 80px;
    height: auto;
    aspect-ratio: 1;
    background: #3455;
    border-radius: 12px;
}
/*cover_image*/

.store-create .card-preview-cover_image .card-preview-logo{
    position: absolute;
    bottom: -40px;
    scale: 0.6;
    left: 0;
    background: var(--discret-10);
}
.store-create .indicator-cover_image{
    width: 40px;
    height: 40px;
    background: #3454;
    margin: 10px 0;
}
.store-create .card-preview-cover_image{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 550px;
    align-items: center;
    position: relative;
    border-radius: 12px;
    box-shadow: 0px 2px 16px -12px #000; 
}

.store-create .card-preview-cover_image .cover_image{
    width: 100%;
    height: auto;
    aspect-ratio: 2.4;
    background: #3455;
    border-radius: 12px;
}

/* Info */


.store-create .description{
    display: flex;
    flex-direction: column;
    
}

.store-create .card{
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 12px;
}
.store-create .card .top{
    display: flex;
    align-items: center;
    gap: 12px;
}

.store-create .card .top h3{
    font-weight: normal;
    font-size: 20px;
}
.store-create .card .top p{
    font-weight: normal;
    font-size: 13px;
}
.store-create .card .top .logo{
    width: 30px;
    height: 30px;
    border-radius: 24px;
}

.store-create .card h2{
    font-size: 20px;
    font-weight: normal;
    color: #1a0dab;
    text-decoration: underline;
    max-width: 300px;
    width: 300px;
}

.store-create .card > p{
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: var(--bbQxAb);
    word-break: break-word;
    max-width: 300px;
}

.store-create .description input{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 10px;
    margin-bottom: 12px;
    margin-top: 6px;
}

.store-create .google-result{
    display: flex;align-items: flex-start;
    margin-top: 24px;
}

.store-create .google-result .google{
    width: 100px;
    height: auto;
    aspect-ratio: 3;
}
.store-create .google-result .google-indicator{
    width: 60px;
    height: auto;
    aspect-ratio: 1;
}
/* DIRECTION */
.store-create .direction{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 550px;
    justify-content: space-between;
}
.store-create .direction > div{
    display: flex;
    align-items: center;
    font-size: 1.1em;
    padding: 6px 12px;
    border-radius: 50px;
    gap:6px;
    opacity: 1;
    transition: 100ms;
    visibility: visible;
}

.store-create .direction .back.none{
    visibility: hidden;
    opacity: 0;
    transition: 100ms;
}
.store-create .direction .back{
    background: var(--discret-9);
    transition: 100ms;
}
.store-create .direction .next{
    background: var(--discret-9);
    transition: 100ms;
}
.store-create .direction .next.active{
    background: var(--secondary-color);
    color: #fff;
    transition: 100ms;
}

@media (width<430px) {
    .store-create .card-preview-cover_image .card-preview-logo{
        bottom: -80px;    
    }
}

@media(width<300px){
    .store-create{
        padding: 8px;
    }
}